@model TestProject.Models.Auth001
@{
    ViewBag.Title = "Bind Page";
    var AquariumDataList = ViewBag.AquariumDataList;
    var DataListSize = AquariumDataList.Count;
    var DataCount = 0;
}
<style>
    .btn-primary {
        font-size: 18px;
        margin-top: 20px;
        background-color: #1ba1e2;
        width: 150px;
        border-radius: 0px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .AccountBindInfo {
        background-color: #f2f2f2;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid #adb9c9;
        border-radius: 50px;
        width: 75%;
    }

    label {
        font-size: 15px;
    }

    input {
        font-size: 15px;
        width: 110%;
    }


    td {
        padding: 8px 40px;
    }

    h2 {
        font-weight: bold;
        line-height: 15px;
        letter-spacing: 5px;
        margin-bottom: 20px;
    }

    .disBindTitle {
        font-weight: bold;
        line-height: 15px;
        letter-spacing: 5px;
        margin-bottom: 20px;
    }

    .UserAquariumEditArea {
        /*background-color: #f2f2f2;*/
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        /*border: 3px solid #adb9c9;*/
        /*border-radius: 50px;*/
        width: 75%;
        font-size: 130%;
    }

    .TopTableStyle {
        border-collapse: separate;
        font-family: Tahoma, Geneva, sans-serif;
        border-spacing: 0;
    }

        .TopTableStyle td {
            padding: 15px;
        }

        .TopTableStyle thead td {
            background-color: #54585d;
            color: #ffffff;
            font-weight: bold;
            font-size: 13px;
            border: 1px solid #54585d;
            border-left: solid 1px white;
        }

        .TopTableStyle tbody td {
            color: #636363;
            border: 1px solid #dddfe1;
        }

        .TopTableStyle tbody tr {
            background-color: #f9fafb;
        }

            .TopTableStyle tbody tr:nth-child(odd) {
                background-color: #ffffff;
            }


    /*第一欄第一列：左上*/
    tr:first-child td:first-child {
        border-top-left-radius: 10px;
    }
    /*第一欄最後列：左下*/
    tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
    }
    /*最後欄第一列：右上*/
    tr:first-child td:last-child {
        border-top-right-radius: 10px;
    }
    /*最後欄第一列：右下*/
    tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }
</style>


<div style="display: flex; align-items: center; justify-content: center;">
    <div class="UserAquariumEditArea">
        <table border="0" style="width:80%">
            <tr>
                <th colspan="3">
                    <h2 class="disBindTitle" style="text-align:center">
                        使用者魚缸編輯
                    </h2>
                </th>
            </tr>
        </table>
    </div>
</div>
<div style="display: flex; align-items: center; justify-content: center;margin-bottom:30px;">
    <div class="UserAquariumEditArea">
        <table border="0" style="width:100%" class="TopTableStyle">
            <thead>
                <tr>
                    <td width="10%" style="text-align: center; font-weight: bold; font-size: 100%">序列</td>
                    <td width="30%" style="text-align: center; font-weight: bold; font-size: 100% ">魚缸編號</td>
                    <td width="10%" style="text-align: center; font-weight: bold; font-size: 100%">刪除</td>
                </tr>
            </thead>
            <tbody>
                @{
                    for (int i = 0; i < DataListSize; i++)
                    {
                        <tr>
                            @{
                                DataCount += 1;
                            }
                            <td width="10%" style="text-align:center">@DataCount</td>
                            <td width="30%" style="text-align:center">@AquariumDataList[i].AquariumUnitNum</td>
                            <td width="10%" style="text-align:center">
                                <div style="font-size: 15px; font-size: 100%">
                                    @Html.ActionLink("解除", "DelectConfirmation", "Statistics009", new { area = "Statistics", href = "DelectConfirmation?DelectConfirmation=" + @AquariumDataList[i].AquariumUnitNum })
                                    @*@Html.ActionLink("解除", "DelectConfirmation", "NForm034ClassSize", new { area = "Form", UnitNum = @AquariumDataList[i].AquariumUnitNum })*@
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div style="display: flex; align-items: center; justify-content: center">
    <div class="AccountBindInfo">
        <form action="/BindAquarium/Bind" method="post">
            <div class="form-group">
                <table cellpadding="8">
                    @{
                        if (Model == null)
                        {
                            <tr>
                                <td colspan="2" style="text-align:center">
                                    <h2>綁定魚缸</h2>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <label for="Email">使用者Email</label><br />
                                        <input type="email" id="Email" name="Email" required>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label for="Password">使用者密碼</label><br />
                                        <input type="password" id="Password" name="Password" required>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <label for="UnitNum">對應魚缸完整的<br />&nbsp;&nbsp;16位元英數組合</label><br />
                                        <input type="text" id="UnitNum" name="UnitNum" required pattern="[a-zA-Z0-9]{16}">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label for="WaterType">飼養類型 <br />&nbsp;&nbsp;弱酸:1 、 中性:2 、 若鹼:3 、 海水:4</label><br />
                                        <input type="text" id="WaterType" name="WaterType" pattern="[1-4]{1}" placeholder="請輸入對應數字即可">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align:center">
                                    <button type="submit" class="btn btn-primary">送出</button>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td colspan="2" style="text-align:center">
                                    <h2>綁定魚缸</h2>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <label for="Email">使用者Email</label><br />
                                        <input type="email" id="Email" name="Email" required value=@Model.Email>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label for="Password">使用者密碼</label><br />
                                        <input type="password" id="Password" name="Password" required value=@Model.Password>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <label for="UnitNum">對應魚缸完整的<br />&nbsp;&nbsp;16位元英數組合</label><br />
                                        <input type="text" id="UnitNum" name="UnitNum" required value=@base.TempData["UnitNum"] pattern="[a-zA-Z0-9]{16}">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label for="WaterType">飼養類型 <br />&nbsp;&nbsp;弱酸:1 、 中性:2 、 若鹼:3 、 海水:4</label><br />
                                        <input type="text" id="WaterType" name="WaterType" pattern="[1-4]{1}" value=@base.TempData["WaterType"]>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align:center">
                                    <button type="submit" class="btn btn-primary">送出</button>
                                </td>
                            </tr>
                        }
                    }

                </table>
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById("AccountBindInfo").addEventListener("submit", function (e) {
        if (confirm("請確認填寫資料是否正確.")) {
            console.log("Deleting");
            document.forms[0].submit()
        }
        else {
            console.log("Cancelled");
            e.preventDefault(); // cancelling submission
        }
    })

    $('.confirmation').on('click', function () {
        return confirm('Are you sure?');
    });
</script>


@{
    if (Model != null)
    {
        <script>
            window.onload = function () {
                alert("使用者資訊錯誤 或 魚缸序號已被綁定使用，請再做確認.");
            }
        </script>
    }
}
