@model TestProject.Models.Auth001
@{
    ViewBag.Title = "Bind Page";
    var AquariumDataList = ViewBag.AquariumDataList;
    var DataListSize = AquariumDataList.Count;
    var DataCount = 0;
}
<style>
    .btn-primary {
        font-size: 18px;
        margin-top: 20px;
        background-color: #1ba1e2;
        width: 150px;
        border-radius: 0px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .AccountBindInfo {
        background-color: #f2f2f2;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid #adb9c9;
        border-radius: 50px;
        width: 75%;
    }

    label {
        font-size: 15px;
    }

    input {
        font-size: 15px;
        width: 110%;
    }


    td {
        padding: 8px 40px;
    }

    h2 {
        font-weight: bold;
        line-height: 15px;
        letter-spacing: 5px;
        margin-bottom: 20px;
    }

    .disBindTitle {
        font-weight: bold;
        line-height: 15px;
        letter-spacing: 5px;
        margin-bottom: 20px;
    }

    .UserAquariumEditArea {
        /*background-color: #f2f2f2;*/
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        /*border: 3px solid #adb9c9;*/
        /*border-radius: 50px;*/
        width: 75%;
    }

    .demotbl {
        border: 0px solid #69899F;
    }

        .demotbl th {
            padding: 15px;
            color: #fff;
            text-shadow: 1px 1px 1px #568F23;
            border-bottom: 3px solid #9ED929;
            background-color: #9DD929;
            background: -webkit-gradient( linear, left bottom, left top, color-stop(0.02, rgb(123,192,67)), color-stop(0.51, rgb(139,198,66)), color-stop(0.87, rgb(158,217,41)) );
            background: -moz-linear-gradient( center bottom, rgb(123,192,67) 3%, rgb(139,198,66) 52%, rgb(158,217,41) 88% );
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius: 5px 5px 0px 0px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .demotbl td {
            width: 100px;
            padding: 10px;
            text-align: center;
            vertical-align: top;
            background-color: #DEF3CA;
            border: 1px solid #BED3AB;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            color: #666;
            text-shadow: 1px 1px 1px #fff;
        }
</style>
<div style="display: flex; align-items: center; justify-content: center;">
    <div class="UserAquariumEditArea">
        <table border="0" style="width:80%">
            <tr>
                <th colspan="3">
                    <h2 class="disBindTitle" style="text-align:center">
                        使用者魚缸編輯
                    </h2>
                </th>
            </tr>
        </table>
    </div>
</div>
<div style="display: flex; align-items: center; justify-content: center;margin-bottom:30px;">
    <div class="UserAquariumEditArea">
        <table border="0" style="width:80%" class="demotbl">
            <tr>
                <th width="10%" style="text-align: center; font-weight:bold">序列</th>
                <th width="30%" style="text-align: center; font-weight: bold">魚缸編號</th>
                <th width="10%" style="text-align: center; font-weight: bold">刪除</th>
            </tr>
            @{
                for (int i = 0; i < DataListSize; i++)
                {
                        <tr>
                            @{
                                DataCount += 1;
                            } 
                            <td width="10%" style="text-align:center">@DataCount</td>
                            <td width="30%" style="text-align:center">@AquariumDataList[i].AquariumUnitNum</td>
                            <td width="10%" style="text-align:center">
                                <div style="font-size:15px">
                                    @Html.ActionLink("解除", "DelectConfirmation", "Statistics009", new { area = "Statistics", href = "DelectConfirmation?DelectConfirmation=" + @AquariumDataList[i].AquariumUnitNum })
                                    @*@Html.ActionLink("解除", "DelectConfirmation", "NForm034ClassSize", new { area = "Form", UnitNum = @AquariumDataList[i].AquariumUnitNum })*@
                                </div>
                            </td>
                        </tr>
                }
            }

        </table>
    </div>
</div>

<div style="display: flex; align-items: center; justify-content: center">
    <div class="AccountBindInfo">
        <form action="/BindAquarium/Bind" method="post">
            <div class="form-group">
                <table cellpadding="8">
                    @{
                        if (Model == null)
                        {
                            <tr>
                                <td colspan="2" style="text-align:center">
                                    <h2>綁定魚缸</h2>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <label for="Email">使用者Email</label><br />
                                        <input type="email" id="Email" name="Email" required>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label for="Password">使用者密碼</label><br />
                                        <input type="password" id="Password" name="Password" required>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <label for="UnitNum">對應魚缸完整的<br />&nbsp;&nbsp;16位元英數組合</label><br />
                                        <input type="text" id="UnitNum" name="UnitNum" required pattern="[a-zA-Z0-9]{16}">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label for="WaterType">飼養類型 <br />&nbsp;&nbsp;弱酸:1 、 中性:2 、 若鹼:3 、 海水:4</label><br />
                                        <input type="text" id="WaterType" name="WaterType" pattern="[1-4]{1}" placeholder="請輸入對應數字即可">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align:center">
                                    <button type="submit" class="btn btn-primary">送出</button>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td colspan="2" style="text-align:center">
                                    <h2>綁定魚缸</h2>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <label for="Email">使用者Email</label><br />
                                        <input type="email" id="Email" name="Email" required value=@Model.Email>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label for="Password">使用者密碼</label><br />
                                        <input type="password" id="Password" name="Password" required value=@Model.Password>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <label for="UnitNum">對應魚缸完整的<br />&nbsp;&nbsp;16位元英數組合</label><br />
                                        <input type="text" id="UnitNum" name="UnitNum" required value=@base.TempData["UnitNum"] pattern="[a-zA-Z0-9]{16}">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label for="WaterType">飼養類型 <br />&nbsp;&nbsp;弱酸:1 、 中性:2 、 若鹼:3 、 海水:4</label><br />
                                        <input type="text" id="WaterType" name="WaterType" pattern="[1-4]{1}" value=@base.TempData["WaterType"]>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align:center">
                                    <button type="submit" class="btn btn-primary">送出</button>
                                </td>
                            </tr>
                        }
                    }

                </table>
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById("AccountBindInfo").addEventListener("submit", function (e) {
        if (confirm("請確認填寫資料是否正確.")) {
            console.log("Deleting");
            document.forms[0].submit()
        }
        else {
            console.log("Cancelled");
            e.preventDefault(); // cancelling submission
        }
    })

    $('.confirmation').on('click', function () {
        return confirm('Are you sure?');
    });
</script>


@{
    if (Model != null)
    {
        <script>
            window.onload = function () {
                alert("使用者資訊錯誤 或 魚缸序號已被綁定使用，請再做確認.");
            }
        </script>
    }
}
